@import "./../../util/colors.css";





html {
    box-sizing: border-box;
  }

.country-page-container {
    height: 100vh;
    width: 100vw;   
    display: flex;
    position: fixed;
    padding-top: 25px;
    padding-bottom: 20px;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    overflow-y: hidden;
}

.header-container {
    height: 150px;
    width: 85vw;
    background-color: var(--accent-dark);
    border-radius: 15px;
    color: white;
}

.page-title {
    text-align: center;
}




.dish-item {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 1rem;
    margin:1rem;
    padding-left:0.5rem;
    padding-right: 0.5rem;
    display:flex;
    align-items: center;
    background-color: white;
    opacity:0.9;
    width:80vw;
    justify-content: space-between;
}

.link {
    text-decoration: none;
}

h3 {
    padding-left: 1rem;
}

.food {
    display:flex;
    align-items:center;
}