

.topbar {
  /* background-color:burlywood; */
  background-color: rgb(241, 166, 153);
  padding: 0.5rem;
  display:flex;
  justify-content: space-evenly;  
  height: 30!
}

.topbar-container {
  position:fixed;
  width:100%;
  z-index: 10;
  top:0;
  height: 30;
}
.svgStyle {
  width: 24;
  height: 24;
  fillRule: evenodd;
  clipRule: evenodd;
}