@import "./../../util/colors.css";


.topbar {
  background-color: var(--turquoise);
  padding: 0.5rem;
  display:flex;
  justify-content: space-evenly; 
  align-items: center; 
  height: 50px
}

.icon {
  height: 25px;
  width: 25px;
  background-color: var(--turquoise);
  padding: 5px;
  border-radius: 25%;
  border: solid;
  border-width: 1px;
}

.topbar-container {
  position:fixed;
  width:100%;
  z-index: 10;
  top:0;
  height: 30;
}

