@import './../../util/colors.css';






.restaurant-container {
  overflow-y: scroll;
  max-height: 500px;
  align-content: center;
  justify-content: center;
  width: 90vw;
}

.restaurant-list {
  margin-top: 100px;
}

.restaurant-item {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background-color: white;
  margin: 0.6rem;
  border-radius: 20px;
  padding: 5px;
  }

.restau-top {
  display: flex;
}

.restau-bottom {
  margin-left: 10px;
  display: flex;
  position: relative;
}

.restau-distance {
  margin-left: auto;
}

.restau-rating {
  /* margin-left: auto; */
  position: relative;
  bottom: 12px;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  width: 90vw;
  background-color: var(--accent-neutral);
  height: 75px;
  opacity: 1;
  z-index: 2;
}

.filter-button{
  height: 40px;
  width: 100px;
  border-radius: 15px;
  background-color: white;
  font-size: 14px;
  font-weight: 550;
}
