@import "./../../util/colors.css";



html {
    box-sizing: border-box;
  }

  .nav-bar-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    margin-bottom: 10px;
  }

.nav-bar {
    width: 85%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--accent-dark);
    z-index: 15;
    border-radius: 15px;
}

.iconContainer {
    height: 37px;
    display: flex;
    width: 37px;
    background-color: var(--background-light);
    padding: 5px;
    border-radius: 25%;
    border: solid;
    border-width: 1px;
    align-items: center;
    justify-content: center;
  }

.icon {
    height: 25px;
    width: 25px;
    border-radius: 25%;
    border: solid;
    border-width: 1px;
  }

