@import "./../../util/colors.css";





html {
    box-sizing: border-box;
}


.home-container {
    height: 100vh;
    width: 100vw;   
    display: flex;
    position: fixed;
    padding-top: 25px;
    padding-bottom: 20px;
    flex-direction: column;
    align-items: center;
    /* background-color: ; */
    overflow: hidden;
    overflow-y: hidden;
}

.titleContainer {
    height: 70px;
    width: 85vw;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-dark);
    border-color: black;
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
}

.title {
    font-size: 30px;
    color: white;
}

.map-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 220px;
    width: 85vw;
    border-color: black;
    border-width: 1.5px;
    border-radius: 10px;
    border-style: solid;
    background-color: var(--accent-dark);
    justify-content: center;
    align-content: center;
}

.leaflet-container {
    display:flex;
    justify-content: center;
    background-color:black;
    border-radius: 12px;
    padding: 0.1%;
    width: 93%;
    height: 90%;
}



.search-buttons-container {
    margin-top: 25px;
    height: 170px;
    width: 85vw;
    border-color: black;
    border-width: 1.5px;
    border-radius: 10px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--accent-dark);
    padding-bottom: 20px;
}


.select-country {
    width: 85vw;
    height: 40px;
    display: flex;
    margin-bottom: 15px;
}

.select-country-text {
    font-size: 15;
    align-self: flex-start;
    height: 25px;
    width: 100%;
    color: white;
}


.search-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}


.search-box {
    border-radius: 1rem;
    height: 100%;
    width: 180px;
    padding:0.5rem;
    box-shadow: 4px 4px 6px 0 rgba(216, 13, 13, 0.3),
    -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

.view-button-container {
    width: 75px;
    height: 40px;
    background-color: var(--accent-bright);
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    display: flex;
    text-decoration: none;
    margin-left: 10px;


}

.view-button {
    display: flex;
    text-decoration: none;
    text-align: center;
}

.button-label {
    font-size: 11px;
    text-decoration: none;
    align-self: center;
}


.random-button {
    margin-top: 0.5rem;
    width: 80vw;
    border-radius: 1rem;
    padding:0.5rem;
    font-size: medium;
    font-weight:bold;
    background-color: var(--accent-bright);

}

.countryResult {
    background-color: white;
    height: fit-content;
    max-height: 6vh;
    width: 60vw;
    overflow: hidden;
    overflow-y: auto;
    border-radius: 0.5rem;
    position:absolute;
    z-index: 10;
    opacity: 0.9;
    margin-left: 0.5rem;
    padding-left: 0.1rem;
}

.countryResult::-webkit-scrollbar {
    display: none; 
}






